<div class="new-index-banner">
  <%= link_to "No26", root_path, class: "home-link", id: "lilac-link" %>
  <%= link_to "OUR COCKTAILS", cocktails_path, class: "link", id: "lilac-link" %>
  <div class="banner-content">
    <span class="art-new">Add a Cocktail...</span>
  </div>
</div>

<div class="new-cocktail-form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.label :name, class: "label" %>
    <%= f.text_field :name, placeholder: "Aperol Spritz" %>
     <%= f.input :photo, as: :file, label: false %>
    <%= f.submit "Add Cocktail", class: "add-button"%>
  <% end %>
</div>
